body {
    font-family: Garamond, Times;
    color: purple;
    background-color: #CBCE91FF;
}

p {
  display: block;
  margin-top: 1em;
  color: #76528BFF;
  margin-left: 0;
  margin-right: 0;
}

tr {
  color: #76528BFF;
}

h1 {
  background-color: #CBCE91FF;
  color: #76528BFF;
}

a:link {
  color: black;
}

thead{
  background-color: lightgreen;
}

/* Style the element with the id "myHeader" */
#textCenter {
    text-align: center;
}


.nav-item{
  color: blue;
}

.img-thumbnail{
  width: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/** tablesort **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.patientWaiting{
  background-color: white;
  margin: 6px;
  padding: 6px;
  border-width: 2px;
  border-style: solid;
}

.patientName{
  font-weight: bold;
}

.highPriority{
  border-color:red;
  border-left-width: 6px;
}

.mediumPriority{
  border-color:orange;
  border-left-width: 6px;
  
}.lowPriority{
  border-color:blue;
  border-left-width: 6px;
}
